﻿@model IEnumerable<RoadPolice.Models.PoliceInspector>

@{
    ViewBag.Title = "Инспекторы";
}
<div class="row clearfix">
    <div class="col-sm-12">
        <div class="card">
            <div class="header">
                <h2>Инспекторы</h2>
            </div>
            <div class="body">
                <p>
                    @Html.ActionLink("Добавить", "Create", null, new {@class = "btn btn-primary"})
                </p>
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            ФИО
                        </th>
                        <th>
                            Звание
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rank)
                            </td>
                            <td>
                                @Html.ActionLink("Редактировать", "Edit", new {id = item.Id}) |
                                @Html.ActionLink("Удалить", "Delete", new {id = item.Id})
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>