﻿@model IEnumerable<RoadPolice.Models.Fine>

@{
    ViewBag.Title = "Штрафы";
}

<h2>Штрафы</h2>

@if (ViewBag.IsAdmin || ViewBag.IsInspector)
{
    <p>
        @Html.ActionLink("Добавить", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            Название
        </th>
        <th>
            Стоимость
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @if (ViewBag.IsAdmin || ViewBag.IsInspector)
                {
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.Id })

                }
            </td>
        </tr>
    }

</table>
