﻿@model RoadPolice.Models.MenuViewModel
@if (Request.IsAuthenticated)
{
    if (Model.IsAdmin || Model.IsInspector)
    {
        <li>
            <a href="@Url.Action("Index", "PoliceProtocols")">
                <i class="material-icons">assignment</i>
                <span>Протоколы</span>
            </a>
        </li>
        @*<li>
            <a href="@Url.Action("Index", "DriverProtocols")">
                <i class="material-icons">search</i>
                <span>Поиск</span>
            </a>
        </li>*@
        <li>
            <a href="@Url.Action("Create", "PoliceProtocols")">
                <i class="material-icons">add_circle</i>
                <span>Создать протокол</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Drivers")">
                <i class="material-icons">directions_car</i>
                <span>Водители</span>
            </a>
        </li>
    }
    if (Model.IsAdmin)
    {
        <li>
            <a href="@Url.Action("Index", "PoliceInspectors")">
                <i class="material-icons">local_activity</i>
                <span>Инспекторы</span>
            </a>
        </li>
    }
    <li>
        <a href="@Url.Action("Index", "Fines")">
            <i class="material-icons">layers</i>
            <span>Штрафы</span>
        </a>
    </li>
        <li>
            <a href="@Url.Action("Index", "ProtocolsStatistic")">
                <i class="material-icons">insert_chart</i>
                <span>Статистика</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "DriverProtocols")">
                <i class="material-icons">search</i>
                <span>Просмотр штрафов</span>
            </a>
        </li>
}
else
{
    <li>
        <a href="@Url.Action("Index", "ProtocolsStatistic")">
            <i class="material-icons">layers</i>
            <span>Статистика</span>
        </a>
    </li>
}
