﻿@model RoadPolice.Models.Driver

@{
    ViewBag.Title = "Подробности";
}

<div class="block-header">
    <h2>Подробности</h2>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Водитель</h2>
            </div>
            <div class="body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.FullName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FullName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Workplace)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Workplace)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LicenseNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LicenseNumber)
                    </dd>

                </dl>
            </div>
            <div class="footer">
                @Html.ActionLink("Назад", "Index", null, new {@class = "btn btn-default"})
                @Html.ActionLink("Редактирование", "Edit", new {id = Model.Id}, new {@class = "btn btn-primary"})
            </div>
        </div>
    </div>
</div>