﻿@using Antlr.Runtime
@model IEnumerable<RoadPolice.Models.Driver>

@{
    ViewBag.Title = "Водители";
}

<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Водители</h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ФИО</th>
                            <th>Место работы</th>
                            <th>Адрес</th>
                            <th>№ Удостоверения</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                                <td>@Html.DisplayFor(modelItem => item.Workplace)</td>
                                <td>@Html.DisplayFor(modelItem => item.Address)</td>
                                <td>@Html.DisplayFor(modelItem => item.LicenseNumber)</td>
                                <td>
                                    @Html.ActionLink("Редактировать", "Edit", new {id = item.Id}) |
                                    @Html.ActionLink("Удалить", "Delete", new {id = item.Id})
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
                <p>
                    @Html.ActionLink("Добавить", "Create", null, new { @class = "btn btn-primary"})
                </p>
            </div>
        </div>
    </div>
</div>


