﻿@model IEnumerable<RoadPolice.Models.PoliceProtocol>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Инспектор
        </th>
        <th>
            Водитель
        </th>
        <th>
            Дата
        </th>
        <th>
            Стоимость
        </th>
        <th>
            Место составления протокола
        </th>
        <th>
            Информация
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Driver.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PoliceInspector.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FineDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
