﻿@model RoadPolice.Models.PoliceProtocol
@{
    ViewBag.Title = "Создать протокол";
}
@*<div class="block-header">
    <h2>Создать</h2>
</div>*@
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="header">
                <h2>Новый протокол ГИБДД</h2>
            </div>
            <div class="body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.EditorFor(model => model.PaidDate, new { htmlAttributes = new { @class = "form-control", type = "hidden"} })
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label>Дата</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input class="form-control" id="FineDate" name="FineDate" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label>Водитель</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                @Html.DropDownList("DriverId", null, new {@class = "form-control show-tick", id = "drivers"})
                                @Html.ValidationMessageFor(model => model.DriverId, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label>Автомобиль</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.EditorFor(model => model.Vehicle, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Vehicle, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label>Гос. номер</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.EditorFor(model => model.VehicleNumber, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.VehicleNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label>Инспектор</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                @if (ViewBag.IsAdmin)
                                {
                                    @Html.DropDownList("PoliceInspectorId", null, new { @class = "form-control" })
                                }
                                else
                                {
                                    @Html.HiddenFor(model => model.PoliceInspectorId, new { htmlAttributes = new { @class = "form-control" } })
                                    <p class="police-full-name">@ViewBag.PoliceFullName</p>
                                }
                                @Html.ValidationMessageFor(model => model.PoliceInspectorId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label>Штраф</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                @Html.DropDownList("FineId", null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.FineId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label>Стоимость</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    
                                    @Html.EditorFor(model => model.Cost, new {htmlAttributes = new {@class = "form-control", min=1}})
                                </div>
                                @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" } )
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label>Место составления протокола</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="input-group m-b-0">
                                    <div class="form-line">
                                        @Html.EditorFor(model => model.Address, new {htmlAttributes = new {@class = "form-control"}})
                                    </div>
                                    <span class="input-group-addon">
                                        <button class="btn btn-default btn-circle waves-effect waves-circle waves-float" type="button" data-toggle="collapse"
                                                data-target=".map-container" aria-expanded="false" aria-controls="map">
                                            <i class="material-icons">place</i>
                                        </button>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.Address, "", new {@class = "text-danger"})
                            </div>
                            <div class="form-group">
                                <span class="text-info lat"></span>
                                <span class="text-info lng"></span>
                            </div>
                        </div>
                        <div class="col-md-10 col-md-offset-2 collapse map-container">
                            <div class="form-group">
                                <div id="map" class="map"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label>Доп. информация</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                            @Html.EditorFor(model => model.IsPaid, new {@class = "filled-in"})
                            <label for="IsPaid">Оплачено?</label>
                            @Html.ValidationMessageFor(model => model.IsPaid, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                            <button type="submit" class="btn btn-primary m-t-15 waves-effect">Добавить</button>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function() {

            $('#PaidDate').val("1970-01-01");
            $('#FineDate').val(new Date().toLocaleString());

            var $searchBox = document.querySelector("#searchBox");
            var $drivers = document.querySelector("#drivers");

            // var when = "keyup"; //You can change this to keydown, keypress or change

            $searchBox.addEventListener("keyup",
                function(e) {
                    var text = e.target.value;
                    var options = $drivers.options;
                    for (var i = 0; i < options.length; i++) {
                        var option = options[i];
                        var optionText = option.text;
                        var lowerOptionText = optionText.toLowerCase();
                        var lowerText = text.toLowerCase();
                        var regex = new RegExp("^" + text, "i");
                        var match = optionText.match(regex);
                        var contains = lowerOptionText.indexOf(lowerText) !== -1;
                        if (match || contains) {
                            option.selected = true;
                            return;
                        }

                        $searchBox.selectedIndex = 0;
                    }
                });
        });
        
        function initMap() {
            var startPoint = { lat: 46.83650406492897, lng: 29.624658294417372 };
            var mapContainer = $('#map');
            
            var map = new google.maps.Map(mapContainer[0],
                {
                    zoom: 13,
                    center: startPoint
                });
            var marker = new google.maps.Marker({
                position: startPoint,
                map: map
            });
            var geocoder = new google.maps.Geocoder;
            
            var addressInput = $('#Address');
                
            map.addListener('click',
                (event) => {
                    marker.setPosition(event.latLng);
                    var mapPosition = {
                        lat: event.latLng.lat(),
                        lng: event.latLng.lng()
                    };
                    
                    $('.lat').html('Latitude: ' + mapPosition.lat);
                    $('.lng').html('Longitude: ' + mapPosition.lng);

                    geocoder.geocode({'location': event.latLng},
                        function(results, status) {
                            if (status === google.maps.GeocoderStatus.OK) {
                                if (results[0]) {
                                    addressInput.val(results[0].formatted_address);
                                } else {
                                    window.alert('No results found');
                                }
                            } else {
                                window.alert('Geocoder failed due to: ' + status);
                            }
                        });
                });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZVnt9pbTQKbWy774LrptKu1puLSaiNuM&&callback=initMap&language=ru&region=ru_RU"></script>
}