﻿@model RoadPolice.Models.PoliceProtocol

@{
    ViewBag.Title = "Подробности";
}

<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Протокол</h2>
            </div>
            <div class="body">
                <dl class="dl-horizontal">
                    <dt>
                        ФИО
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Driver.FullName)
                    </dd>

                    <dt>
                        № Удостоверения
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Driver.LicenseNumber)
                    </dd>

                    <dt>
                        Штраф
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Fine.Title)
                    </dd>

                    <dt>
                        Инспектор
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PoliceInspector.FullName)
                    </dd>

                    <dt>
                        Дата
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FineDate)
                    </dd>

                    <dt>
                        Автомобиль
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Vehicle)
                    </dd>

                    <dt>
                        Номер авто
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.VehicleNumber)
                    </dd>

                    <dt>
                        Стоимость
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Cost) рублей ПМР
                    </dd>

                    <dt>
                        Адрес
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address)
                    </dd>

                    <dt>
                        Доп. информация
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                    <dt>
                        Оплачено
                    </dt>

                    <dd>
                        @if (Model.IsPaid)
                        {
                            <span>Да</span>
                        }
                        else
                        {
                            <span>Нет</span>
                        }
                        @*@Html.DisplayFor(model => model.IsPaid)*@
                    </dd>

                    <dt>
                        Дата оплаты
                    </dt>

                    <dd>
                        @if (Model.IsPaid)
                        {
                            @Html.DisplayFor(model => model.PaidDate)
                        }
                    </dd>

                </dl>
            </div>
            <div class="footer">
                @Html.ActionLink("Назад", "Index", null, new {@class = "btn btn-default"})
                @* @Html.ActionLink("Edit", "Edit", new {id = Model.Id}, new {@class = "btn btn-primary"}) *@
            </div>
        </div>
    </div>
</div>