﻿@model IEnumerable<RoadPolice.Models.PoliceProtocol>

@{
    ViewBag.Title = "Протоколы";
}

@*<p>
    @Html.ActionLink("Новый протокол", "Create")
</p>*@

@*@{
    var myChart = new Chart(width: 1024, height: 400)
       .AddTitle("Отчет по штрафам")
       .AddSeries(chartType: "column",
          xValue: new[] { "Остановка стоянка", "Превышение скорости", "Julie", "Mary", "Dave" },
          yValues: new[] { "16", "6", "4", "5", "3" })
       .Write();
}*@

<div class="row clearfix">
    <div class="col-sm-12">
        <div class="card">
            <div class="header">
                <h2>Протоколы</h2>
                <div class="header-dropdown m-r--5">
                    <div class="dropdown pull-right">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Сортировать по: <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li>@Html.ActionLink("Инспектору ↓", "Index", new {sortOrder = "inspector"})</li>
                            <li>@Html.ActionLink("Инспектору ↑", "Index", new {sortOrder = "inspector_desc"})</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Водителю ↓", "Index", new {sortOrder = "driver"})</li>
                            <li>@Html.ActionLink("Водителю ↑", "Index", new {sortOrder = "driver_desc"})</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Стоимости ↓", "Index", new {sortOrder = "price_desc"})</li>
                            <li>@Html.ActionLink("Стоимости ↑", "Index", new {sortOrder = "price"})</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Дате ↓", "Index", new {sortOrder = "date"})</li>
                            <li>@Html.ActionLink("Дате ↑", "Index", new {sortOrder = "date_desc"})</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Оплата ↓", "Index", new {sortOrder = "pay"})</li>
                            <li>@Html.ActionLink("Оплата ↑", "Index", new {sortOrder = "pay_desc"})</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>
                                Водитель
                                @* @Html.ActionLink("Инспектор", "Index", new {sortOrder = ViewBag.NameSortParm})*@
                            </th>
                            <th>
                                Инспектор
                            </th>
                            <th>
                                Штраф
                            </th>
                            <th>
                                @Html.ActionLink("Дата", "Index", new {sortOrder = ViewBag.DateSortParm})
                            </th>
                            <th>
                                Стоимость
                                @*@Html.ActionLink("↓", "Index", new { sortOrder = "price" })
            @Html.ActionLink("↑", "Index", new { sortOrder = "price_desc" })*@

                            </th>
                            <th>
                                Автомобиль
                            </th>
                            <th>
                                Информация
                            </th>
                            <th>
                                Оплачен
                            </th>
                            <th>
                                Дата оплаты
                            </th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            var bg = "#ff0000";

                            if (item.IsPaid)
                            {
                                bg = "#849f26";
                            }

                            <tr>

                                @*<tr>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.Driver.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PoliceInspector.FullName)
                                </td>
                                <td style="color: @bg;">
                                    @Html.DisplayFor(modelItem => item.Fine.Title)
                                </td>
                                <td style="color: @bg;">
                                    @Html.DisplayFor(modelItem => item.FineDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cost)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Vehicle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.IsPaid)*@
                                    @if (item.IsPaid)
                                    {
                                        <p>Да</p>
                                    }
                                    else
                                    {
                                        <p>Нет</p>
                                    }
                                </td>
                                <td>
                                    @if (item.IsPaid)
                                    {
                                        @Html.DisplayFor(modelItem => item.PaidDate)
                                    }

                                </td>
                                <td>
                                    @Html.ActionLink("Подробности", "Details", new {id = item.Id})
                                    @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>