﻿@using RoadPolice.Models
@model LoginViewModel
@{
    ViewBag.Title = "Вход";
}




@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="card login-card">
        <div class="body">
            <h2 class="main-header">Вход</h2>
            @Html.ValidationSummary(true, "", new { @class = "text-danger flasher", @style = "min-height: 110px; min-width: 210px; " })

            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">person</i>
                </span>
                <div class="form-line">
                    @*<input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" aria-required="true">*@

                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            


            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">lock</i>
                </span>
                <div class="form-line">
                    @*<input type="password" class="form-control" name="password" placeholder="Password" required="" aria-required="true">*@

                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 p-t-5">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button type="submit" value="Войти" class="btn waves-effect btn-block bg-blue">Войти</button>
                </div>
                <div class="col-md-6">
                    <a href="@Url.Action("Register", "Account")" class="btn btn-block bg-blue">Зарегистрироваться</a>
                </div>
            </div>



        </div>
    </div>

}


    @Scripts.Render("~/bundles/jqueryval")

    @section Scripts {
        

        <script type="text/javascript">
            //alert('test');



            function showProtocols() {
                var licenceNumber = $('#licenceNumber').val();
                //alert(licenceNumber);
                window.open("/DriverProtocols/Details/" + licenceNumber,
                    "_blank");
            }

        </script>
    }