﻿@model IEnumerable<RoadPolice.Models.PoliceProtocol>

@{
    ViewBag.Title = "Мои штрафы";
}

<h2>Ваши штрафы</h2>

<table class="table">
    <tr>
        <th>
            Штраф 
        </th>
        <th>
            Инспектор
        </th>
        <th>
            Дата
        </th>
        <th>
            Стоимость
        </th>
        <th>
            Автомобиль
        </th>
        <th>
            Информация
        </th>
        <th>
            Оплачено
        </th>
        <th>
            Дата оплаты
        </th>
        <th></th>
    </tr>

            @foreach (var item in Model)
            {
                var bg = "#ff0000";

                if (item.IsPaid == true)
                {
                    bg = "#849f26";
                }

                <tr style="color: @bg; font-weight: bold;">
                
                <td>
                    @Html.DisplayFor(modelItem => item.Fine.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PoliceInspector.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FineDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost) <br />рублей ПМР
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vehicle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                    <td>
                        @if (item.IsPaid)
                        {
                            <span>Да</span>
                        }
                        else
                        {
                            <span>Нет</span>
                        }
                        @*@Html.DisplayFor(modelItem => item.IsPaid)*@
                    </td>
                    <td>
                        @if (item.IsPaid)
                        {
                            @Html.DisplayFor(modelItem => item.PaidDate)
                        }
                        
                    </td>
                <td>
                    @*@Html.ActionLink("Подробности", "Details", "PoliceProtocols", new { id = item.Id })*@
                    <a href="@Url.Action("Details","PoliceProtocols", new { id = item.Id })">Подробности</a>
                </td>
            </tr>
              }

</table>
