﻿
@{
    ViewBag.Title = "Просмотр штрафов";
}




<div style="min-height: 450px; width: 300px; margin: 0 auto;">
    <h2>Просмотр штрафов</h2>

    <form action="javascript:showProtocols()">

        <div class="form-group">

           
            <div class="col-md-10">
                <input type="search" placeholder="Номер удостоверения" class="form-control" id="licenceNumber">
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" style="margin-top: 8px;" value="Поиск" class="btn btn-default" />
            </div>
        </div>


    </form>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*@RenderSection("scripts", required: false)*@

    <script type="text/javascript">
        //alert('test');



        function showProtocols() {
            var licenceNumber = $('#licenceNumber').val();
            //alert(licenceNumber);
            window.open("/DriverProtocols/Details/" + licenceNumber,
                "_blank");
        }

    </script>
}

