﻿@model IEnumerable<RoadPolice.Models.ProtocolStatistic>  

@{
    ViewBag.Title = "Статистика";
}

<div style="width: 900px; margin: 0 auto;">
    <h2>Статистика правонарушений</h2>
    
    <div style="margin-top: 20px;">
        @Html.ActionLink("За неделю", "Index", new { type = "week"}, new { @class = "btn btn-default" })
        @Html.ActionLink("За месяц", "Index", new { type = "month" }, new { @class = "btn btn-default" })
        @Html.ActionLink("За год", "Index", new { type = "year" }, new { @class = "btn btn-default" })
    </div>
    
    <hr/>
   
    <div style="margin-top: 20px;">
        <h3>Фильтр по дате:</h3>
        @using (Html.BeginForm("Index", "ProtocolsStatistic", FormMethod.Get, new {Id = "Form1"}))
        {
            <div class="form-group">
                <label class="control-label">Начало</label>
                <input class="form-control datefield" type="date" name="startDate" required/>
            </div>

            <div class="form-group">
                <label class="control-label">Конец</label>
                <input class="form-control datefield" type="date" name="endDate" required/>
            </div>

            <div class="form-group">
                <input type="submit" value="Поиск" class="btn btn-default"/>
            </div>

        }
    </div>
   
    <hr/>
    <div style="margin-top: 20px;">
        
        <h3>Штрафы:</h3><br/>

        @{
            int x = 0;
        }

        @foreach (var item in Model)
        {
            <strong>
                <p>@item.Title - @item.Count</p></strong>
            x += @item.Count;
        }

        @if (x > 0)
        {
            <br/><strong><p>Итого: @x</p></strong>
        }
        else
        {
            <strong><p>За выбранный период штрафов нет!</p></strong>
        }

    </div>
    
    <hr/>
    
    @*<img style="margin-top: 25px;" src="@Url.Action("GetChart", new {type = @ViewBag.DateType, chartTypeCode = 1})" alt="Statistic Chart" />*@

    <img style="margin-top: 25px;" src="@Url.Action("GetChart", new {type = @ViewBag.DateType, startDate = @ViewBag.sDate, endDate = @ViewBag.eDate,chartTypeCode = 0})" alt="Statistic Chart"/>
    

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*@RenderSection("scripts", required: false)*@

    <script type="text/javascript">
        //alert('test');



        function showProtocols() {
            var licenceNumber = $('#licenceNumber').val();
            //alert(licenceNumber);
            window.open("/DriverProtocols/Details/" + licenceNumber,
                "_blank");
        }

    </script>
}
