﻿@model IEnumerable<RoadPolice.Models.ProtocolStatistic>  

@{
    ViewBag.Title = "Статистика";
}

@{
//    string[] titles = {};
//    int[] counts= {};

    var titles = new List<String>();
    var vaules = new List<String>();


    foreach (var item in Model)
    {
        titles.Add(item.Title);
        vaules.Add(item.Count.ToString());
        <p>@item.Title</p>
    }
}

@*@{
    var myChart = new Chart(width: 1024, height: 400)
       .AddTitle("Отчет по штрафам")
       .AddSeries(chartType: "column",
          xValue: new[] { "Остановка стоянка", "Превышение скорости", "Julie", "Mary", "Dave" },
          yValues: new[] { "16", "6", "4", "5", "3" })
       .Write();
}*@

@*@{
    var myChart = new Chart(width: 1024, height: 400)
       .AddTitle("Отчет по штрафам")
       .AddSeries(chartType: "column",
          xValue: titles,
          yValues: vaules)
       .Write();
}*@


<div style="min-height: 450px;  margin: 0 auto;">
    <h2>Просмотр статистики правонарушений</h2>
    
    @foreach (var item in Model)
    {
        <p>@item.Title</p>
    }
    
    <img src="@Url.Action("GetChart")" alt="Statistic Chart"/>
    

    <form action="javascript:showProtocols()">

        <div class="form-group">


            <div class="col-md-10">
                <input type="search" placeholder="Номер удостоверения" class="form-control" id="licenceNumber">
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" style="margin-top: 8px;" value="Поиск" class="btn btn-default" />
            </div>
        </div>


    </form>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*@RenderSection("scripts", required: false)*@

    <script type="text/javascript">
        //alert('test');



        function showProtocols() {
            var licenceNumber = $('#licenceNumber').val();
            //alert(licenceNumber);
            window.open("/DriverProtocols/Details/" + licenceNumber,
                "_blank");
        }

    </script>
}
