﻿
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.flasher {
    margin-top: 25px;
    margin-left: 10px;
    background: url('Images/flasher.gif') no-repeat;
    background-size: 305px 108px
}

.map {
    height: 250px;    
}
.card .footer {
    padding: 20px;
    border-top: 1px solid rgba(204, 204, 204, 0.35);
}
.card .header .header-dropdown {
    top: 15px !important;
}
.input-group .form-line + .input-group-addon {
    padding-top: 0;
    padding-bottom: 0;
}
.police-full-name {
    border-bottom: 1px solid #ddd;
    padding: 6px 12px;
}
.main-header {
    margin: 15px;
    font-size: 24px;
    font-weight: normal;
    color: #111;
}
[type="checkbox"]:checked + label:before, [type="checkbox"]:checked + [type="hidden"] + label:before {
    border-right: 2px solid #2196f3!important;
    border-bottom: 2px solid #2196f3!important;
}

[type="checkbox"]:checked + label:before, [type="checkbox"]:checked + [type="hidden"] + label:before {
    border-right: 2px solid #2196f3!important;
    border-bottom: 2px solid #2196f3!important;    
}
.login-card {
    max-width: 460px;
    margin: 0 auto;
}